In [12]:
import pandas as pd

In [25]:
df = pd.read_excel("data/online_retail_II.xlsx")

In [38]:
df.shape

(525461, 8)

In [35]:
print(len(df['Country'].unique()))
print(df['Country'].unique())

40
['United Kingdom' 'France' 'USA' 'Belgium' 'Australia' 'EIRE' 'Germany'
 'Portugal' 'Japan' 'Denmark' 'Nigeria' 'Netherlands' 'Poland' 'Spain'
 'Channel Islands' 'Italy' 'Cyprus' 'Greece' 'Norway' 'Austria' 'Sweden'
 'United Arab Emirates' 'Finland' 'Switzerland' 'Unspecified' 'Malta'
 'Bahrain' 'RSA' 'Bermuda' 'Hong Kong' 'Singapore' 'Thailand' 'Israel'
 'Lithuania' 'West Indies' 'Lebanon' 'Korea' 'Brazil' 'Canada' 'Iceland']

In [37]:
df[df['Country']=='Unspecified']

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
61394,494860,84832,ZINC WILLIE WINKIE CANDLE STICK,5,2010-01-19 11:01:00,0.85,12470.0,Unspecified
61395,494860,84836,ZINC METAL HEART DECORATION,5,2010-01-19 11:01:00,1.25,12470.0,Unspecified
61396,494860,85014D,PINK/BROWN DOTS RUFFLED UMBRELLA,1,2010-01-19 11:01:00,5.95,12470.0,Unspecified
61397,494860,85014A,BLACK/BLUE DOTS RUFFLED UMBRELLA,1,2010-01-19 11:01:00,5.95,12470.0,Unspecified
61398,494860,85014B,RED/WHITE DOTS RUFFLED UMBRELLA,2,2010-01-19 11:01:00,5.95,12470.0,Unspecified
...,...,...,...,...,...,...,...,...
499215,536012,79000,MOROCCAN TEA GLASS,12,2010-11-29 15:23:00,0.85,12351.0,Unspecified
499216,536012,22665,RECIPE BOX BLUE SKETCHBOOK DESIGN,6,2010-11-29 15:23:00,2.95,12351.0,Unspecified
499217,536012,20886,BOX OF 9 PEBBLE CANDLES,6,2010-11-29 15:23:00,1.95,12351.0,Unspecified
499218,536012,22424,ENAMEL BREAD BIN CREAM,1,2010-11-29 15:23:00,12.75,12351.0,Unspecified
499219,536012,22441,GROW YOUR OWN BASIL IN ENAMEL MUG,8,2010-11-29 15:23:00,2.10,12351.0,Unspecified

In [39]:
df_country_cleaned = df[df['Country']!='Unspecified']

In [40]:
df_country_cleaned.shape

(525151, 8)

In [23]:
df = df.dropna(subset=['Customer ID']).copy()  # make an explicit copy

In [ ]:
# Add a 'TotalPrice' column
df['TotalPrice'] = df['Quantity'] * df['Price']